---
import PostList from "../components/PostList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
// future layout will be blog description etc on left, single col and all tags on right to click on
---
<BaseLayout>
    <section class="mx-auto p-5 max-w-3xl">
        <PostList tag="thoughts"/>
        <div class="mt-10 text-lg font-bold border-t border-b py-5">
            Disclaimer: I am not a good writer. So I take some help from A.I to make the writing a bit more readable and engaging, but I never ask it to generate ideas. I don't let A.I kill the essence of what I want to say, just beautify it a bit.
            Also please let me know if I made you think just a little bit deeper and made a positive influence in your life. Because that is my goal with these articles. 
        </div>
    </section>
</BaseLayout> 
