---
import PostList from "./PostList.astro";
---
<section class="flex flex-col gap-8" id="blog">
    <h2 class="text-2xl text-green-500">Technical Blog</h2>
    <p class="">I let my curiosity guide me through the vast world of information in this field. I try to learn whatever seems interesting to me at the moment. It could be a work-related issue, a personal project, or simply exploring something I read online.</p>
    <p>Obsessing over this, I end up going down a rabbit hole of information and ideas until my curiosity is satisfied. By the end of it, I have learned a few things, and I have an interesting story to tell. I make sure to capture these and some other experiences in my blog</p>
    <PostList />
</section>