---
const socialLinks = [
    {
        text: "linkedin",
        icon: "fa-brands fa-linkedin",
        link: "https://www.linkedin.com/in/ashutosh-patkar/"
    },
    {
        text: "github",
        icon: "fa-brands fa-github",
        link: "https://github.com/Holmes7"
    },
    {
        text: "email",
        icon: "fa-solid fa-envelope",
        link: "mailto:ashutoshpatkar71@gmail.com"
    },
    {
        text: "instagram",
        icon: "fa-brands fa-instagram",
        link: "https://www.instagram.com/_holmes7_/"
    }
]
---

<section>
  <div class="flex flex-wrap gap-4 justify-center">
    {socialLinks.map((obj) => (
      <a 
        href={obj.link} 
        class="text-2xl hover:text-sky-300"
        aria-label={obj.name}
      >
        <i class={`decoration-sky-300 decoration-2 underline-offset-8 hover:underline ${obj.icon}`}></i>
      </a>
    ))}
  </div>
</section>

